/*.my-form{width:800px;margin:auto;background-color:#73bcd9;border-radius:15px}.my-formm{width:800px;margin:auto;background-color:#d98032;border-radius:15px}.corps,.btns{background-color:#73bcd9}.corpss,.btnss{background-color:#d98032}.entete,.footer{background-color:#4d5560;border-radius:15px}.entetee,.footerr{background-color:#73461f;border-radius:15px}input{width:300px!important}.labelf{color:rgba(160,162,152,0.724)!important}.ps-2{font-size:20px}.imagee{background-color:#73bcd9;width:115px;height:115px;position:relative;bottom:60px;left:340px}.imagee img{width:100px;height:100px;position:relative;top:10px;left:8px}.image{background-color:#d98032;width:115px;height:115px;position:relative;bottom:60px;left:340px}.image img{width:100px;height:100px;position:relative;top:10px;left:8px}.my-body{background-color:#73bcd9}.en-tete{display:flex;justify-content:space-between;width:65%;margin:auto;margin-top:20px}.nom_match{border:3px solid #fff;border-radius:13px;height:85px;width:40%;font-family:'Inter';font-style:normal;font-weight:600;font-size:50px;line-height:61px;text-align:center;margin-top:30px;padding-top:10px;color:#fff}#A{position:absolute;width:50%;height:450px;left:25%;top:170px;display:flex;justify-content:center;background:#d9d9d9;border-radius:83px;border:#4d5560 solid 5px}#A-c{position:absolute;width:267px;height:440px;display:flex;flex-direction:column;justify-content:space-between;background:linear-gradient(180deg,#FFFFFF 12.15%,#8E8787 47.91%,#FFFFFF 86.88%)}#Timer{padding-top:30px;font-family:'Inter';font-weight:700;font-size:50px;text-align:center;color:#4d5560}#phase_match{padding-bottom:30px;font-family:'Inter';font-weight:600;font-size:30px;text-align:center;color:#4d5560}#team{position:absolute;width:40%;height:162px;left:30%;top:324px;background:linear-gradient(270deg,#4A4545 -49.49%,#FFFFFF 50.59%,#494646 143.32%);border-radius:5px;text-align:center;font-family:'Inter';font-style:normal;font-weight:700;font-size:50px;line-height:48px;text-align:center;padding-top:50px;color:#4d5560}#team div{width:80%;margin:auto}#A-G{position:absolute;width:353px;height:353px;left:16%;top:220px;display:flex;justify-content:center;background:#d9d9d9;border:5px solid #4d5560;border-radius:300px}#A-G_{position:absolute;z-index:1;width:60%;height:100%;display:flex;justify-content:center;background:#d9d9d9;border-radius:300px}#scoreA{position:absolute;width:283px;height:283px;top:30px;z-index:3;display:flex;justify-content:center;text-align:center;background:#fff;border:5px solid #4d5560;border-radius:300px}#A-D{position:absolute;width:353px;height:353px;right:16%;top:220px;display:flex;justify-content:center;background:#d9d9d9;border:5px solid #4d5560;border-radius:300px}#A-D_{position:absolute;z-index:1;width:60%;height:100%;display:flex;justify-content:center;background:#d9d9d9;border-radius:300px}#scoreB{position:absolute;width:283px;height:283px;top:30px;z-index:2;display:flex;justify-content:center;text-align:center;background:#fff;border:5px solid #4d5560;border-radius:300px}#valA{padding-top:50px;font-family:'Inter';text-align:center;font-weight:600;font-size:120px;color:#4d5560}#valB{padding-top:50px;font-family:'Inter';text-align:center;font-weight:600;font-size:120px;color:#4d5560}.name_joueur{position:absolute;height:250px;width:72%;top:670px;left:14%;display:flex;justify-content:space-between}.teamA{width:45%}.teamB{width:45%}.j{width:100%;display:flex;justify-content:space-between;margin-bottom:10px}.j .cloch{width:10%;height:63px;background-color:#4d5560;border-radius:10px;display:flex;justify-content:center;padding-top:0px;font-size:45px;color:#fff}.j .champs{width:80%;height:63px;background-color:#d9d9d9;border-radius:10px;text-align:center;padding-top:10px;font-family:'Inter';font-style:normal;font-weight:700;font-size:30px;line-height:36px;color:#4d5560}.admin{position:absolute;height:250px;width:72%;top:670px;left:14%;display:flex;justify-content:space-between}.admin .teamA{width:35%}.admin .teamB{width:35%}.admin .ajout{width:20%}.admin .j{width:100%;display:flex;justify-content:space-between;margin-bottom:10px}.admin .j .champs{width:70%;height:63px;background-color:#d9d9d9;border-radius:0;text-align:center;padding-top:10px;font-family:'Inter';font-style:normal;font-weight:700;font-size:30px;line-height:36px;color:#4d5560}.plus{width:15%;height:63px;border:0;background-color:#4d5560;border-radius:0 15px 15px 0;display:flex;justify-content:center;padding-top:0;font-size:45px;font-weight:900;color:#fff}button:hover{background-color:gray}.moins{width:15%;height:63px;border:0;background-color:#4d5560;border-radius:15px 0 0 15px;display:flex;justify-content:center;padding-top:0;font-size:45px;font-weight:900;color:#fff}.commande{width:45%;height:63px;border:0;background-color:#4d5560;border-radius:10px;display:flex;justify-content:center;padding-top:10px;font-size:30px;font-weight:900;color:#fff}.fin_match{width:100%;height:63px;border:0;background-color:#4d5560;border-radius:10px;display:flex;justify-content:center;padding-top:10px;font-size:30px;font-weight:900;color:#fff}input[type="range"]::-webkit-slider-thumb{background-color:#4d5560}input[type="range"]::-moz-range-thumb{background-color:#4d5560}input[type="range"]::-ms-thumb{background-color:#4d5560}.btn-outline-secondary{color:white;border:1px solid white}*/
.my-form
{
    width:  800px;
    margin : auto;
    background-color: #73bcd9;
    border-radius: 15px;
}

.my-formm
{
    width:  800px;
    margin : auto;
    background-color: #D98032;
    border-radius: 15px;
}
.corps, .btns
{
    background-color: #73bcd9;
}
.corpss, .btnss
{
    background-color: #D98032;
}
.entete, .footer
{
    background-color: #4d5560;
    border-radius: 15px;

}

.entetee, .footerr
{
    background-color: #73461F;
    border-radius: 15px;

}

input
{
    width: 300px  !important;
}
.labelf
{
    color: rgba(160, 162, 152, 0.724) !important;
}
.ps-2
{
    font-size: 20px;
}
.imagee
{
    background-color:#73bcd9; width: 115px; height: 115px; position: relative; bottom: 60px; left: 340px;
}
.imagee img
{
    width: 100px; height : 100px; position:relative; top:10px; left:8px
}

.image
{
    background-color:#D98032; width: 115px; height: 115px; position: relative; bottom: 60px; left: 340px;
}
.image img
{
    width: 100px; height : 100px; position:relative; top:10px; left:8px
}
/* partie pape mor ancien model
.my-body{
    background-color: #73BCD9;
}

.en-tete{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}

.nom_match{
    
    border: 3px solid #FFFFFF;
    border-radius: 13px;
    height: 85px;
    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    color: #FFFFFF;
}

#A{
    position: absolute;;
    width: 50%;
    height: 450px;
    left: 25%;
    top: 170px;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 83px;
    border: #4D5560 solid 5px;
}

#A-c{
    position: absolute;
    width: 267px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: linear-gradient(180deg, #FFFFFF 12.15%, #8E8787 47.91%, #FFFFFF 86.88%);
}

#Timer{    

    padding-top: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #4D5560;
}

#phase_match{
    padding-bottom: 30px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #4D5560;
}

#team{
    position: absolute;
    width: 40%;
    height: 162px;
    left: 30%;
    top: 324px;
    background: linear-gradient(270deg, #4A4545 -49.49%, #FFFFFF 50.59%, #494646 143.32%);
    border-radius: 5px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    text-align: center;
    padding-top: 50px;
    
    color: #4D5560;
}
#team div{
    width: 80%;
    margin: auto;
}

#A-G{

    position: absolute;
    width: 353px;
    height: 353px;
    left: 16%;
    top: 220px;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border: 5px solid #4D5560;
    border-radius: 300px;
       
}

#A-G_{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 300px;

}

#scoreA{
    position: absolute;
    width: 283px;
    height: 283px;
    top: 30px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    
    background: #FFFFFF;
    border: 5px solid #4D5560;
    border-radius: 300px;
}

#A-D{

    position: absolute;
    width: 353px;
    height: 353px;
    right: 16%;
    top: 220px;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border: 5px solid #4D5560;
    border-radius: 300px;
       
}

#A-D_{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 300px;

}

#scoreB{
    position: absolute;
    width: 283px;
    height: 283px;
    top: 30px;
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;

    background: #FFFFFF;
    border: 5px solid #4D5560;
    border-radius: 300px;
}
#valA{
    padding-top: 50px;
    font-family: 'Inter';
    text-align: center;
    font-weight: 600;
    font-size: 120px;
    
    color: #4D5560;
    
    
}
#valB{
    padding-top: 50px;
    font-family: 'Inter';
    text-align: center;
    font-weight: 600;
    font-size: 120px;
    
    color: #4D5560;
}

.name_joueur{
    position: absolute;
    height: 250px;
    width: 72%;
    top: 670px;
    left: 14%;
    display: flex;
    justify-content: space-between;
}

.teamA{
    width: 45%;
}

.teamB{
    width: 45%;
}

.j{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.j .cloch{
    width: 10%;
    height: 63px;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 45px;
    color: #FFFFFF;
}

.j .champs{
    width: 80%;
    height: 63px;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #4D5560;
}
  
  
.admin{
    position: absolute;
    height: 250px;
    width: 72%;
    top: 670px;
    left: 14%;
    display: flex;
    justify-content: space-between;    
}


.admin .teamA{
    width: 35%;
}

.admin .teamB{
    width: 35%;
}

.admin .ajout{
    width: 20%;
}

.admin .j{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.admin .j .champs{
    width: 70%;
    height: 63px;
    background-color: #D9D9D9;
    border-radius: 0px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #4D5560;
}

.plus{
    width: 15%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 0px 15px 15px 0px;
    
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 45px;
    font-weight: 900;
    color: #FFFFFF;
}

button:hover{
    background-color: gray;
}

.moins{
    width: 15%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 45px;
    font-weight: 900;
    color: #FFFFFF;
}

.commande{
    width: 45%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;

}

.fin_match{
    width: 100%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}
*/
/* parite pape mor noueau model*/
.my-body{
    background-color: #73BCD9;
}

.eentete{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-top: 1vw;
}

.nom_match{
    
    border: 3px solid #FFFFFF;
    border-radius: 13px;
    height: 5vw;
    width: 25vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 61px;
    text-align: center;
    margin-top: 1vw;
    padding-top: 0vw;
    color: #FFFFFF;
}

img{
    width: 8vw;
    height: 8vw;
}

#A{
    position: absolute;;
    width: 50vw;
    height: 23.5vw;
    left: 25%;
    top: 9vw;
    
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 83px;
    border: #4D5560 solid 5px;
}


@keyframes slide-in {
    0% { transform: translateX(100%); }
    70% { transform: translateX(0%); }
    100% { transform: translateX(0%); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes scale-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
  

#countdown{
    position: absolute;;
    width: 22vw;
    height: 23.5vw;
    left: 39%;
    top: 9vw;
    z-index: 3;
    animation: scale-in 2s ease-in-out forwards;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    
    border: #4D5560 solid 5px;
    font-family: 'Inter';
    text-align: center;
    padding-top: 6%;
    font-weight: 600;
    font-size: 6vw;
    color: #4D5560;
    
}

#A-c{
    position: absolute;
    width: 267px;
    height: 22.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: linear-gradient(180deg, #FFFFFF 12.15%, #8E8787 47.91%, #FFFFFF 86.88%);
}

#Timer{    

    padding-top: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.4vw;
    text-align: center;
    color: #4D5560;
}

#phase_match{
    padding-bottom: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.9vw;
    text-align: center;
    color: #4D5560;
}

#team{
    position: absolute;
    width: 40vw;
    height: 8vw;
    left: 30%;
    top: 17vw;
    background: linear-gradient(270deg, #4A4545 -49.49%, #FFFFFF 50.59%, #494646 143.32%);
    border-radius: 5px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    line-height: 48px;
    text-align: center;
    
    color: #4D5560;
}
#team div{
    width: 100%;
    margin: auto;
    margin-top: 6%;
}

#A-G{

    position: absolute;
    width: 19vw;
    height: 19vw;
    left: 16%;
    top: 11vw;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border: 5px solid #4D5560;
    border-radius: 300px;
       
}

#A-G_{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 300px;

}

#scoreA{
    position: absolute;
    width:15vw;
    height: 15vw;
    top: 1.7vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;

    background: #FFFFFF;
    border: 5px solid #4D5560;
    border-radius: 50%;
}

#A-D{

    position: absolute;
    width: 19vw;
    height: 19vw;
    right: 16%;
    top: 11vw;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border: 5px solid #4D5560;
    border-radius: 300px;
       
}

#A-D_{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 300px;

}

#scoreB{
    position: absolute;
    width:15vw;
    height: 15vw;
    top: 1.7vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;

    background: #FFFFFF;
    border: 5px solid #4D5560;
    border-radius: 50%;
}
#valA{
    padding-top: 20%;
    font-family: 'Inter';
    text-align: center;
    font-weight: 600;
    font-size: 6vw;
    color: #4D5560;
    
    
}
#valB{
    padding-top: 20%;
    font-family: 'Inter';
    text-align: center;
    font-weight: 600;
    font-size: 6vw;
    color: #4D5560;
}

.name_joueur{
    position: absolute;
    height: 250px;
    width: 72%;
    top: 35vw;
    left: 14%;
    display: flex;
    justify-content: space-between;
}

.teamA{
    width: 45%;
}

.teamB{
    width: 45%;
}

.j{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.j .cloch{
    width: 4vw;
    height: 63px;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 3vw;
    color: #FFFFFF;
}

.j .champs{
    width: 80%;
    height: 63px;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 36px;
    color: #4D5560;
}
  
  
.admin{
    position: absolute;
    height: 250px;
    width: 72%;
    top: 35vw;
    left: 14%;
    display: flex;
    justify-content: space-between;    
}


.admin .teamA{
    width: 35%;
}

.admin .teamB{
    width: 35%;
}

.admin .ajout{
    width: 20%;
}

.admin .j{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.admin .j .champs{
    width: 70%;
    height: 63px;
    background-color: #D9D9D9;
    border-radius: 0px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #4D5560;
}

.plus{
    width: 15%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 0px 15px 15px 0px;
    
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 2.5vw;
    font-weight: 900;
    color: #FFFFFF;
}

.faux{
    width: 15%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 15px 15px 15px 15px;
    margin-right: 3px;
    
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 2.5vw;
    font-weight: 900;
    color: #c30d0d;
}



button:hover{
    background-color: gray;
}

.moins{
    width: 15%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 2.5vw;
    font-weight: 900;
    color: #FFFFFF;
}

.commande{
    width: 45%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 2vw;
    font-weight: 900;
    color: #FFFFFF;

}

.dropdown option{
display: flex;
justify-content: space-between;
}

.dropdown{

    width: 100%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
    color: #FFFFFF;

}

.fin_match{
    width: 100%;
    height: 63px;
    border: none;
    background-color: #4D5560;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 2vw;
    font-weight: 900;
    color: #FFFFFF;
}



/* fin nouveau model */
input[type="range"]::-webkit-slider-thumb {
    background-color: #4D5560; 
  }
  
  input[type="range"]::-moz-range-thumb {
    background-color: #4D5560;
  }
  
  input[type="range"]::-ms-thumb {
    background-color: #4D5560;
  }
  
  .btn-outline-secondary{
    color: white;
    border: 1px solid white;
  }